<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ContextListener</description>
        <listener-class>servlets.context.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>servlets.ServletMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anadirReserva</servlet-name>
        <servlet-class>servlets.ServleAnadirReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anadirHuesped</servlet-name>
        <servlet-class>servlets.ServletAnadirHuesped</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anadirHuesped</servlet-name>
        <url-pattern>/anadirHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anadirReserva</servlet-name>
        <url-pattern>/anadirReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Main</welcome-file>
    </welcome-file-list>
</web-app>
